#todo_list_details
  %h2= @list.title
  %p.mb-2.text-dark= @list.description
  %ul.nav.justify-content-center
    %li.nav-item
      - if params[:prompt_delete] == "true"
        = link_to "Cancel",
          @list,
          class: "nav-link text-secondary px-2 small"
      - else
        = link_to "Edit",
          { edit: true },
          class: "nav-link text-secondary px-2 small"
    %li.nav-item
      .small.text-secondary.py-2
        |
    - if params[:prompt_delete] == "true"
      %li.nav-item
        = form_with model: @list,
          method: :delete,
          local: true do |f|
          = f.submit "Confirm Delete",
            class: "nav-link text-danger p-2 small border-0 bg-transparent",
            style: "cursor: pointer;"
    - else
      %li.nav-item
        = link_to "Delete",
          { prompt_delete: true },
          class: "nav-link text-secondary p-2 small border-0 bg-transparent"

