%li.todo-wrapper.list-group-item.d-flex.justify-content-between{id: [todo_item.id]}
  = form_for todo_item,
    url: complete_todo_list_todo_item_path(@todo_list, todo_item.id),
    authenticity_token: true,
    remote: true do |f|
    = f.button octicon("check", height: 16),
      name: "todo_item[completed]",
      class: "btn btn-sm #{todo_item.completed? ? 'btn-info' : 'btn-outline-info'}"

  .todo-text{class: ("completed" if todo_item.completed?)}
    = todo_item.name

  .edit-todo-form
    = form_with model: todo_item, url: todo_list_todo_item_path(@todo_list, todo_item),
      local: true, class: "form-inline" do |f|
      .input-group
        = f.text_area :name, cols: 40, rows: 1, class: "form-control"
        .input-group-append
          = f.submit "Save", class: "btn btn-outline-info"

  .todo-buttons.d-flex.justify-content-end.align-items-center
    %button.edit-btn.btn.btn-outline-warning
      = octicon("pencil", height: 22)

    = form_for todo_item,
      url: todo_list_todo_item_path(@todo_list, todo_item.id),
      method: :delete,
      authenticity_token: true,
      remote: true,
      data: { confirm: "Are you sure?" } do |f|
      = f.button octicon("trashcan", :height => 22),
        class: "btn btn-sm btn-outline-danger"

