%li.list-group-item.todo-item{ id: todo_item.id }
  .todo-item-group
    .todo-text{ id: todo_item.id }
      - if todo_item.completed?
        %span{ :style => "text-decoration: line-through;" }= todo_item.name
      - else
        = todo_item.name

    .todo-buttons{ id: todo_item.id }
      %button.edit-btn.btn.btn-outline-warning= octicon("pencil",
        height: 22, "aria-label": "edit todo")

      = link_to octicon("x", :height => 22, :"aria-label" => "delete todo"),
        todo_list_todo_item_path(@todo_list, todo_item.id),
        method: :delete, class: "delete-btn btn btn-outline-danger"

      = link_to octicon("check", :height => 22, :"aria-label" => "mark as complete"),
        complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch,
        class: "btn check-btn #{todo_item.completed ? 'btn-info' : 'btn-outline-info'}"

  .edit-todo-form{ id: todo_item.id }
    = form_with model: todo_item, url: todo_list_todo_item_path(@todo_list.id, todo_item), method: :patch, class: "form-inline" do |f|
      .input-group
        = f.text_field :name, class: "form-control"
        .input-group-append
          = f.submit "Save", class: "btn btn-outline-info"
