= form_with model: @todo_list, remote: true, id: "edit-form" do |f|
  .form-group.text-left
    = f.label :name, class: "text-muted small pl-1"
    = f.text_field :name,
      id: :name,
      autofocus: true,
      class: "form-control form-control-lg text-info p-2"
  .form-group.text-left
    = f.label :description, class: "text-muted small pl-1"
    = f.text_area :description, id: :description, class: "form-control form-control-sm"
  .input-group.justify-content-center
    = f.submit "Save",
      class: "text-info small border-0 p-0 bg-transparent",
      style: "cursor: pointer;"
    .small.text-secondary.px-2
      |
    = link_to "Cancel", todo_list_path(@todo_list), class: "text-secondary small"
