#todo_list_details
  %h2= @todo_list.title
  %p.mb-2.text-dark= @todo_list.description
  %ul.nav.justify-content-center
    %li.nav-item
      = link_to "Edit",
        @editing_list ? todo_list_path(@todo_list): edit_todo_list_path(@todo_list),
        remote: true,
        class: "nav-link text-secondary px-2 small"
    %li.nav-item
      .small.text-secondary.py-2
        |
    - if @prompt_delete
      %li.nav-item
        = form_with model: @todo_list,
          method: :delete,
          local: true do |f|
          = f.submit "Confirm Delete",
            class: "nav-link text-danger p-2 small border-0 bg-transparent",
            style: "cursor: pointer;"
    - else
      %li.nav-item
        = link_to "Delete",
          todo_list_path(@todo_list, prompt_delete: true),
          class: "nav-link text-secondary p-2 small border-0 bg-transparent"

