%div{ data: { controller: "todo-lists" } }
  .row
    .col-sm-8.ml-auto.mr-auto
      .card.mb-4.border-0.rounded-0
        .card-body.text-center.p-3
          - if params[:edit] == "true"
            = render "edit_form"
          - else
            = render "todo_lists/todo_list_details"
        %ul.list-group.list-group-flush#todo-items{ data: { target: "todo-lists.todos" } }
          - @todo_list_items.each do |item|
            = render "todo_items/todo_item", todo_item: item

  .row.text-center
    .col-sm-8.ml-auto.mr-auto
      .card.border-0.rounded-0.bg-white
        .card-body.p-2
          = render "todo_items/new_form"

  .row.text-center.mt-4
    .col-sm-8.ml-auto.mr-auto
      .d-inline-flex
        = button_to "Clear Completed",
          clear_todo_list_todo_items_path(@todo_list),
          disabled: !any_completed?(@todo_list_items),
          remote: true,
          method: :delete,
          form: { "data-target": "stimulus.form", "data-action": "ajax:success->todo-lists#onClearCompletedSuccess" },
          form_class: "mr-2",
          id: "clear_completed_button",
          class: "clear-completed-btn #{ any_completed?(@todo_list_items) ? 'clear-completed-btn--enabled' : 'clear-completed-btn--disabled' }"
        = link_to "All Lists", todo_lists_path, class: "all-lists-btn btn btn-outline-info bg-white border-0 rounded-0 shadow-lg"

