.row.mt-5
  .col-sm-8.ml-auto.mr-auto
    .card.mb-3
      .card-header.text-center.p-3
        - if @editing_list
          = render 'edit_form'
        - else
          = render 'list_details'
      %ul.list-group.list-group-flush#todo-items{data:{clearable: true}}
        - @todo_list_items.each do |item|
          = render "todo_items/todo_item", todo_item: item

.row.text-center
  .col-sm-8.ml-auto.mr-auto
    .card
      .card-header.p-2
        = render "todo_items/new_form"

.row.text-center.mt-3
  .col-sm-8.ml-auto.mr-auto
    .d-inline-flex
      = button_to "Clear Completed",
        clear_todo_list_todo_items_path(@todo_list),
        disabled: !any_completed?(@todo_list_items),
        remote: true,
        method: :delete,
        class: "form-control #{ any_completed?(@todo_list_items) ? 'clickable text-info border-info' : 'text-secondary border-secondary' }",
        form_class: "mx-1"
      = link_to "All Lists", todo_lists_path, class: "btn btn-outline-info"
