.row.mt-5
  .col-sm-8.ml-auto.mr-auto
    .card.mb-3
      .card-header.text-center
        %h1= @todo_list.name
        %p= @todo_list.description
      %ul.list-group.list-group-flush#todo-items
        - @todo_list_items.each do |item|
          = render "todo_items/todo_item", todo_item: item

.row.text-center
  .col-sm-8.ml-auto.mr-auto
    .card
      .card-header
        = render "todo_items/form"

.row.text-center.mt-3
  .col-sm-8.ml-auto.mr-auto
    .d-inline-flex
      = button_to "Clear Completed",
        clear_todo_list_todo_items_path(@todo_list),
        disabled: !any_completed?(@todo_list_items),
        method: :delete,
        class: "text-info form-control border-info"
      = link_to "Edit List", edit_todo_list_path(@todo_list), class: "mx-2 btn btn-outline-info"
      = link_to "All Lists", todo_lists_path, class: "btn btn-outline-info"
